@import url("../common.css");

/* nomal style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebfdfd;
}

a {
  text-decoration: none;
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-top {
  align-items: flex-start;
}

/* signin page style */

.auth-modal {
  background-color: #ffffff;
  width: calc(100% - 30px);
  max-width: 400px;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

.auth-modal__logo {
  text-align: center;
}

.auth-modal__logo a {
  display: inline-block;
}

.auth-modal__logo img {
  display: block;
  margin: 0 auto;
}

.auth-modal__title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #000000 !important;
}

.form-control {
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.form-control > .start-icon {
  padding: 10px;
}

.form-control > .start-icon > img {
  display: block;
  width: 20px;
}

.form-control input[type="text"],
.form-control input[type="password"] {
  border: none;
  border-left: 1px solid #dddddd;
  font-size: 15px;
  padding: 15px;
  width: 100%;
}

.form-control input[type="text"]:focus-visible,
.form-control input[type="password"]:focus-visible {
  outline: none;
}

.form-control--shadow {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.form-control--round {
  border-radius: 5px;
}

.toggle-wrapper {
  height: 35px;
}

.toggle-mobile {
  opacity: 0;
  position: absolute;
}

.toggle-mobile + label {
  position: relative;
  display: inline-block;
  user-select: none;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-tap-highlight-color: transparent;
  height: 25px;
  width: 45px;
  border: 1px solid #e1e1e1;
  border-radius: 60px;
}

.toggle-mobile + label:before {
  content: "";
  position: absolute;
  display: block;
  -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  height: 25px;
  width: 46px;
  top: 0;
  left: 0;
  border-radius: 25px;
}

.toggle-mobile + label:after {
  content: "";
  position: absolute;
  display: block;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04),
    0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
  -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  height: 23px;
  width: 23px;
  background-color: #ffffff;
  top: 1px;
  left: 0px;
  border-radius: 50%;
}

.toggle-mobile:checked + label:before {
  background: #3eb2fd;
  -moz-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  -o-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  -webkit-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
}

.toggle-mobile:checked + label:after {
  left: 23px;
}

.toggle-wrapper + div {
  margin-left: 15px;
}

.auth-btn-group > button:first-child {
  margin-bottom: 10px;
}

.auth-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  color: #3eb2fd;
  font-size: 20px;
  font-weight: bold;
}

.auth-btn.active {
  background-color: #3eb2fd;
  color: white;
}

.google-login {
  text-decoration: none;
  color: #000000;
}

.google-login > img {
  display: block;
  width: 20px;
  margin-right: 10px;
}

.forgot-password {
  text-decoration: none;
  color: #777777;
}

.forgot-password > img {
  display: block;
  width: 20px;
  margin-right: 10px;
}

/* signup page style */

.login-link {
  color: #3eb2fd;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.form-control--agree > label {
  color: #333333;
}

.form-control--agree > label a {
  color: #3eb2fd;
}

.custom-checkbox {
  appearance: none;
  margin: 0;
  border: 1px solid #777777;
  width: 20px;
  height: 20px;
  color: #3eb2fd;
  border-radius: 2px;
  display: grid;
  place-content: center;
}

.custom-checkbox::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #3eb2fd;
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  clip-path: polygon(43% 69%, 100% 0, 43% 99%, 0 44%);
}

.custom-checkbox:checked::before {
  transform: scale(1);
}

input[type="checkbox"]#agree {
  margin-top: 5px;
  margin-right: 10px;
}
